.jodit-react-container{
    width: 75%;
    border-radius: 25px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.jodit-container{
    border: 0px solid hsl(var(--border)) !important;
    /* padding: 2px !important; */
    width: 100% !important;
    border-radius: 5px !important;
    /* margin-bottom: 5px !important; */
    /* padding-top: 10px !important; */
    /* margin-left: 10px !important; */
    background-color: hsl(var(--background)) !important;
    cursor: pointer !important;
}

.jodit-placeholder{
    padding-left: 20px !important;
    margin-top: 28px !important;

}

.jodit-ui-group{
    background-color: hsl(var(--background));
}

.jodit-workplace{
    background-color: hsl(var(--background)) !important;
    min-height: 160px !important;
    padding: 8px !important;
}

.jodit-wysiwyg {
    background-color: hsl(var(--background)) !important;
    min-height: 140px !important;
    width: 95% !important;
    /* max-width: 500px !important; */
    transition: border-color 0.3s ease-in-out; /* Adding transition for smooth effect */
    margin: 20px 0 !important;
}

/* Add border color and ring on focus */
.jodit-wysiwyg:focus,
.jodit-wysiwyg:focus-within {
    outline: none; /* Remove default focus outline */
    border: 2px solid hsl(var(--primary)) !important; /* Change border color on focus */
    border-radius: 10px !important;
}


.jodit-status-bar{
  background-color: hsl(var(--background)) !important;
  color: hsl(var(--forground)) !important;
}

.jodit-status-bar-link{
    display: none;
}